.tab-container {
    width: 100%;
    max-width: 500px;
    /* Set your desired max-width */
    margin: 0 auto;
    
}

.tab-list {
    display: flex;
    height: 45px;
    list-style: none;
    font-size: 16px;
    padding: 0px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0;
}

.tabs {
    flex: 1;
    display: flex;
    border-left: 2px black;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    }

.active-tabs {
    background: #eeeded;
}

.tabs span {
    padding: 5px 10px;
    /* Adjust the padding as needed */
    font-weight: bold;
    color: #333;
}

.active-tabs::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    opacity: 0.9;
    transform: translateX(-50%);
    width: calc(100% + 1px);
    height: 45px;
    background: #456c33;
}

.content {
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.active-content {
    display: flex;
}

@media (min-width: 768px) and (max-height : 1024px) {

    /* Adjust styles for screens up to 768px width */
    .tab-container {
        max-width: 100%;
    }

    .tabs {
        font-size: 16px;
    }
}