.customer-feedback-container {
    background-image: url("../assets/Group 591.jpg");
    background-size: cover;
    background-position: center;
    /* height: min-content; */
}

.customer-feedback-container {
    background-color: #f5f5f5;
    padding: 20px;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #fff;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.col-12 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.box {
    border-radius: 3px;
}

.col-7 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 58.333333%;
}

.col-lg-8 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 66.666667%;
}

.col-md-7 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 58.333333%;
}

.col-sm-12 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.mb-4 {
    margin-bottom: 1rem;
}

.carousel {
    position: relative;
}

.carousel .carousel-item {
    display: none;
    position: relative;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.carousel .carousel-item.active {
    display: block;
}

.qoute-img {
    text-align: left;
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.feedback-msg {
    text-align: center;
    text-indent: 20px;
}

.feedback-author {
    text-align: center;
}

.author-text {
    font-weight: bold;
    color: #456c33;
    margin: 35px auto;
}

@media (min-width: 576px) {
    .carousel .carousel-item {
        display: block;
    }
}

@media (min-width: 768px) {
    .col-md-7 {
        max-width: 58.333333%;
    }
}

@media (min-width: 992px) {
    .col-7 {
        max-width: 58.333333%;
    }

    .col-lg-8 {
        max-width: 66.666667%;
    }

    .col-md-7 {
        max-width: 58.333333%;
    }
}