.customer-feedback-container {
    background-image: url("../assets/Group 591.jpg");
    background-size: cover;
    background-position: center;
/* overflow-wrap: normal; */
}

.feedbackmsg{
    
    max-height: auto;
    width: auto;
}