.bgcolor{
    background-color: #EDF0F5;
}

.bg-footer{
    background-color: #456C33;
}

.greencol{
    color: #456c33;
}

.footer-line {
  width: 51px;
  height: 4px;
  background-color: darkgreen;
  border: none;
}



.contact-icon {
    width: 100%;
    height: 50px !important;
}