.bgcolor{
    background-color: #EDF0F5;
}

.bg-footer{
    background-color: #456C33;
}

.greencol{
    color: #456c33;
}

.footer-hr {
    border: 2px solid green;
    margin-top: 3px;
    width: 66px;
}