.bgcolor{
    background: #EDF0F4;
}

.bg-footer{
    background-color: #456C33;
}

.greencol{
    color: #456c33;
}

.footer-logo{
    width: 161px;
    height: 93px;
}

.footer-line {
  width: 51px;
  margin-top: 2px;
  height: 4px;
background: #456D33 0% 0% no-repeat padding-box;
    opacity: 1;
}
