
.TarOdew {
    padding: 20px;
    /* height: 80vh; */
    background-color: #fceeed;
}

.bold{
    font-size: 27px;
    font-weight: 800;
}

.brown {
    color: #5f262c;
}

.green {
    color: #637e52;
}

.header {
    text-align: center;
    /* margin-bottom: rem; */
}


.aligning {
            margin-top: 5.5rem !important;
        }

