.navbar-container {
    display: flex;
    justify-content: space-around;
    padding: 0.1rem;
    background-color: #333333;
    color: #ffffff;
    justify-content: flex-end;
    align-items: center;
    padding-right: 54px;
   
}


.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav-links li {
    margin-left: 1.2rem;
    text-align: center;
    /* padding: 2px; */
}


.nav-links li a {
    text-decoration: none;
    color: #fff;
}
