.focus {
    text-align: center;
    font: normal normal 600 'Segoe UI';
    letter-spacing: 0px;
    color: #5f272c;
    opacity: 1;
}

.our-focus-container {
    background-color: #edf0f5;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}

.circle-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    /* Increase the height as desired */
}

.circle {
    width: 114px;
    height: 114px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle-logo {
    max-width: 90%;
    max-height: 90%;
}

.circle-hover-logo {
    
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.circle:hover .circle-hover-logo {
    opacity: 1;
}

.circle-name {
    margin-top: 0.8rem;
    font-size: medium;
}