.our-focus-container {
    height: 37vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.circle-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.circle-logo {
    max-width: 100%;
    max-height: 100%;
}

.circle-name {
    margin-top: 0.8rem;
}