.our-focus-container {
    background-color: #edf0f5;
    height: auto;
    max-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 2rem;
}
.circle-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 210px;
    /* Increase the height as desired */
}

.circle {
    width: 140px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.circle-logo {
    max-width: 90%;
    max-height: 90%;
}

.circle-name {
    margin-top: 0.8rem;
}