/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply box-sizing: border-box to all elements */
* {
    box-sizing: border-box;
}

/* Set margin and padding to 0 for the root element and body */
html,
body {
    margin: 0;
    padding: 0;
}

/* Set a min-height of 100vh for the root element to ensure it takes up the full viewport height */
html {
    min-height: 100vh;
}

/* Apply a background color and set the display to flex for the root element */
body {
    /* background-color: #fceeed; */
    display: flex;
    flex-direction: column;
}



/* Set flex-grow: 1 for the main content container to make it fill the remaining vertical space */
#root {
    flex-grow: 1;
    overflow-x: hidden;
    /* Hide horizontal overflow */
}

/* Add additional CSS rules as needed to adjust the layout and styling of your components */